@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    max-width: 1200px;
    min-height: 1583px;
    font-size: 2rem;
    color: blue;
}
.container > * {
    border: 2px dashed blue;
}
.container {
  display: grid;
  grid-template-rows: minmax(52px, auto) minmax(175px, auto) minmax(64px, auto) minmax(372px, auto) minmax(68px, auto) minmax(328px, auto);
  grid-template-columns: minmax(20px, 160px) minmax(20px, 715px) minmax(20px, 325px);
  grid-template-areas:
  "one seven seven"
  "two two two"
  "three three three"
  "four four eight"
  "four four five"
  "six six five";
}
ul {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #e0e0e0;
    color: #0c0c0c;
    max-width: 100%;
    min-height: 100%;
    align-items:center;
}
@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
        "one"
        "seven"
        "two"
        "three"
        "four"
        "eight"
        "six"
        "five";
    }
}
.home {
flex-basis: 64px;
padding-left: 10px;
}
.politics {
flex-basis: 76px;
}
.economy {
flex-basis: 82px;
}
.analytics {
flex-basis: 87px;
}
.incidents {
flex-basis: 86px;
}
.society {
flex-basis: 74px;
}
.geology {
flex-basis: 79px;
}
.in-the-world {
flex-basis: 112px;
}
.pro-elections {
flex-basis: 120px;
}
.box1 img {
  max-width: 100%;
  display: none;
}
.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box2 img {
    display: none;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}