* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: tahoma;
}

.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.container > * {
  flex-basis: 200px;
  border: 2px solid firebrick;
  flex-grow: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: .5rem;
  background: pink;
}

.info {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 1rem;
}

.box1 > .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box2 > .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box3 > .info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.box4 > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.box5 ul > * {
  flex-grow: 1;
}

button {
  background: firebrick;
  padding: .5rem;
  border: none;
  width: 100%;
  color: white;
}
.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.box1 .image {
  background-image: url("https://unsplash.it/300/200?1");
}

.box2 .image {
  background-image: url("https://unsplash.it/300/200?2");
}

.box3 .image {
  background-image: url("https://unsplash.it/300/200?3");
}

.box4 .image {
  background-image: url("https://unsplash.it/500/200?4");
}

.box5 .image {
  background-image: url("https://unsplash.it/800/200?5");
}